body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:361px;
  height:366px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:123px;
  width:350px;
  height:355px;
  color:#0E4D94;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:170px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:361px;
  height:97px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:488px;
  width:350px;
  height:86px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:179px;
  width:29px;
  height:16px;
  color:#0E4D94;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:176px;
  width:250px;
  height:22px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0E4D94;
}
#u48_input:disabled {
  color:grayText;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:221px;
  width:29px;
  height:16px;
  color:#0E4D94;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:218px;
  width:250px;
  height:22px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0E4D94;
}
#u51_input:disabled {
  color:grayText;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:262px;
  width:29px;
  height:16px;
  color:#0E4D94;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:259px;
  width:250px;
  height:22px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0E4D94;
}
#u54_input:disabled {
  color:grayText;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:304px;
  width:29px;
  height:16px;
  color:#0E4D94;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:301px;
  width:250px;
  height:22px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0E4D94;
}
#u57_input:disabled {
  color:grayText;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:344px;
  width:29px;
  height:16px;
  color:#0E4D94;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:344px;
  width:250px;
  height:98px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:98px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0E4D94;
  text-align:left;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:18px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:136px;
  width:291px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0E4D94;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:513px;
  width:70px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:40px;
  white-space:nowrap;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:514px;
  width:57px;
  height:36px;
  color:#0E4D94;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:27px;
  white-space:nowrap;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:361px;
  height:58px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:66px;
  width:350px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0E4D94;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:346px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:386px;
  height:58px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-10px;
  width:386px;
  height:58px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:375px;
  height:47px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
