.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.flow_shape {
}
.icon {
}
._文本段落 {
  text-align:left;
}

/*list*/
.listNew {
  height:400px;
  width:351px;
  margin-left:13px;
  margin-top:115px;
  color: #0E4D94;
}
.list_1 {
  height:60px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.listp {
  font-size: 14px;
  margin-top: 14px;
  margin-left: 40px;
  float: left;
  height:22px;
}
.listDetails {
  float: left;
  margin-left:15px;
}
.listDetails_1 {
  font-size: 16px;
  margin: 0px;
  height: 20px;
}
.xian {
  width: 321px;
  border-bottom: 1px solid #0E4D94;
  margin-top: 12px;
  margin-left: 15px;
  float: left;
}
.button-done {
  color: #fff;
  float: left;
  background: #33CC00;
  height:24px;
  margin-left: 15px;
  display: inline-block;
  padding: 0px 10px 0 10px;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;"
}
.button-doing {
  color: #fff;
  float: left;
  background: #169BD5;
  height:24px;
  margin-left: 15px;
  display: inline-block;
  padding: 0px 10px 0 10px;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;"
}
.button-await {
  color: #fff;
  float: left;
  background: #FFCC66;
  height:24px;
  margin-left: 15px;
  display: inline-block;
  padding: 0px 10px 0 10px;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;"
}
.details_1 {
  height: 20px;
  width:180px;
  font-size: 13px;
  margin-top: 10px;
  color: #0E4D94;
  float: left;
}
.details_2 {
  height: 20px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 13px;
  color: #0E4D94;
  float: left;
}