body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:361px;
  height:519px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:64px;
  width:350px;
  height:508px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:28px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:212px;
  width:251px;
  height:27px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#0E4D94;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:503px;
  width:83px;
  height:35px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:53px;
  white-space:nowrap;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:304px;
  width:127px;
  height:16px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#0E4D94;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:17px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:328px;
  width:232px;
  height:16px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#0E4D94;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:17px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:353px;
  width:162px;
  height:16px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#0E4D94;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:402px;
  width:57px;
  height:16px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#0E4D94;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:402px;
  width:57px;
  height:16px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#0E4D94;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:402px;
  width:127px;
  height:16px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#0E4D94;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:104px;
  width:80px;
  height:80px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:17px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:377px;
  width:260px;
  height:16px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#0E4D94;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:2px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:278px;
  width:285px;
  height:1px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:386px;
  height:58px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-10px;
  width:386px;
  height:58px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:375px;
  height:47px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
